<div class="hotel-list-container">
  <div class="content">
    <div class="flex-row">
      <input placeholder="Search..." type="text" class="search-bar">
    </div>
    <app-datepicker></app-datepicker>
    <div class="hotel-list-wrapper">
      <div *ngFor="let hotel of hotels" class="hotel-summary-item">
        <app-hotel-summary [hotel]="hotel"></app-hotel-summary>
      </div>
    </div>
  </div>
</div>
