<div class="doctor-list-container">
  <div class="content">
    <div class="flex-row">
      <input placeholder="Search..." type="text" class="search-bar">
    </div>
    <div class="doctor-list-wrapper">
      <div *ngFor="let doctor of doctors" class="doctor-summary-item">
        <app-doctor-summary [doctor]="doctor"></app-doctor-summary>
      </div>
    </div>
  </div>
</div>
