<div class="header-container">
  <div *ngIf="isLoggedIn(); else loggOut" style="cursor: pointer" (click)="logout()">Logout</div>
  <ng-template #loggOut>
    <div style="cursor: pointer" (click)="goTo('login')">Login</div>
    <div style="cursor: pointer" (click)="goTo('register')">Register</div>
  </ng-template>
</div>
