<script src="../home.module.ts"></script>
<div style="cursor: pointer" (click)="goTo('hotels')">Hotels</div>
<div style="cursor: pointer" (click)="goTo('cosmetics')">Cosmetics</div>
<div style="cursor: pointer" (click)="goTo('medical')">Medical</div>
