<div class="hospital-list-container">
  <div class="content">
    <div class="flex-row">
      <input placeholder="Search..." type="text" class="search-bar">
    </div>
    <div class="hospital-list-wrapper">
      <div *ngFor="let hospital of hospitals" class="hospital-summary-item">
        <app-hospital-summary [hospital]="hospital"></app-hospital-summary>
      </div>
    </div>
  </div>
</div>
