<div class="hotel-details-container">
  <div class="title-container">
    <p>{{hotel.name}}</p>
  </div>
  <br><br>
  <div *ngFor="let room of rooms">
    {{room.id}}
    {{room.persons}}
    {{room.price}}
  </div>
</div>
