<div class="app-container">
  <div class="header-wrapper">
    <app-header></app-header>
  </div>
  <div class="app-content-container">
    <router-outlet></router-outlet>
  </div>
  <div class="footer-wrapper">
    <app-footer></app-footer>
  </div>
</div>
