.specialist-list-container {
  display: flex;
  justify-content: center;
}

.specialist-list-wrapper {
  display: flex;
  flex-direction: column;
}

.specialist-summary-item {
  margin-bottom: 50px;
}

.search-bar {
  padding: .5rem .5rem;
  font-size: 1rem;
  letter-spacing: 1.15px;
  border: none;
  outline: 0;
  border-radius: .1875rem;
  box-shadow: 0 0 0 0.1rem #afbec5;
  font-weight: 400;
  margin: 0.1rem 0.1rem 35px;

}
